* {
        font-family: "Monocraft";
        font-weight: normal;
        /*font-size: 13.9px;*/
        font-size: 14px;
        min-height: 12px;
}

@import "theme.css";

window#waybar {
        background: rgba(0,0,0,0)
}
